<section
  class="full-page-wrapper-level-1"
  fxLayout="row"
  fxLayout.lt-md="column"
>
  <router-outlet></router-outlet>
  <section class="statistics half-page">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="Информация о прыжках ">
          <app-jump-table
            [jumps]="jumps"
            (edit)="onEdit($event)"
          ></app-jump-table>
        </mat-tab>
        <mat-tab label="Статистика">
          <app-jump-chart [jumps]="jumps"></app-jump-chart>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <app-jump-panel #jumpPanelRef></app-jump-panel>
  </section>
</section>
