<section class="form-wrapper">
  <h1>
    Истинное мужество есть не только воздушный шар подъема, но и парашют
    падения.
  </h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Адрес электронной почты</mat-label>
      <input matInput formControlName="email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{
        getErrorMessage(email)
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input
        formControlName="password"
        matInput
        required
        [type]="hidePassword ? 'password' : 'text'"
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
      }}</mat-error>
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      color="primary"
      mat-flat-button
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Войти
    </button>
  </form>
  <div>
    <span class="question">Ещё нет профиля?</span>
    <button mat-button [routerLink]="['/auth/signup']">
      Зарегистрироваться
    </button>
  </div>
</section>
