.weather-card {
  margin-top: 130px;
  width: 50%;
  max-width: 980px;

  .mat-list-item {
    height: auto;
    margin-bottom: 15px;

    .mat-list-icon {
      border-radius: 0;
      background-image: url('/assets/jump-types-sprite.png');
      width: 75px;
      height: 75px;
      background-repeat: no-repeat;
    }

    &:first-child {
      .mat-list-icon {
        background-position: -154px -2px;
        background-size: 232px;
      }
    }
    &:nth-child(2) {
      .mat-list-icon {
        background-position: 17px -90px;
        background-size: 230px;
      }
    }
    &:nth-child(3) {
      .mat-list-icon {
        background-position: -1px 0px;
        background-size: 218px;
      }
    }
    &:nth-child(4) {
      .mat-list-icon {
        background-position: -84px -2px;
        background-size: 232px;
      }
    }

    &.disabled-item {
      color: #cccccc;

      .mat-list-icon {
        opacity: 0.3;
      }
    }
  }
}

.mat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mat-card-avatar {
  margin-bottom: 15px;
}

.mat-divider-horizontal {
  top: 75px;
}
