.about {
  background-image: url('../../../../assets/auth-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #84edff1c;
}

.content {
  font-size: 21px;
  font-weight: bold;

  div {
    display: flex;
    align-items: center;
    margin: 46px;
    background-color: white;
    box-shadow: 0 0 16px 13px white;
    border-radius: 22%;
  }

  .mat-icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
    margin-right: 20px;
  }
}
