<section
  class="full-page-flex-wrapper"
  fxLayout="row"
  fxLayout.lt-md="column-reverse"
>
  <section class="about half-page">
    <div class="content">
      <div><mat-icon>calendar_today</mat-icon> Записывайтесь на прыжок</div>
      <div>
        <mat-icon>record_voice_over</mat-icon>Узнавайте последние новости
      </div>
      <div>
        <mat-icon>trending_up</mat-icon>Следите за спортивным результатом
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
</section>
