.add-jump-panel {
  width: 80%;

  .mat-form-field {
    margin: 0 5px;
    width: 100%;
  }

  .mat-form-field-infix {
    width: 115px;
  }
}

.form-fields-container {
  display: flex;
  flex-direction: column;

  &.single-line {
    flex-direction: row;
  }

  & > div {
    display: flex;
    flex: 1;
  }
}
