<section class="user-info">
  <div>
    Основное:
    <button
      mat-icon-button
      matTooltip="Редактировать"
      routerLink="/profile/edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div>
    <div class="user-info-title">Имя Фамилия</div>
    <div class="user-info-data">Иванов Иван</div>
  </div>
  <div>
    <div class="user-info-title">Почта</div>
    <div class="user-info-data">romaddfd@mail.ru</div>
  </div>
  <div>
    <div class="user-info-title">Мобильный телефон</div>
    <div class="user-info-data">+375292372210</div>
  </div>
  <div>
    <div class="user-info-title">Прыжков</div>
    <div class="user-info-data">265</div>
  </div>
  <div>
    <div class="user-info-title">Роль</div>
    <div class="user-info-data">Клиент</div>
  </div>
</section>
