.user-info {
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mat-icon {
      font-size: 26px;
    }

    .mat-icon-button:hover {
      .mat-icon {
        color: black;
      }
    }
  }
}

.user-info-title {
  color: #c4c4c4;
  font-size: 15px;
}
