<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="column.name"
      [sticky]="column.sticky"
      *ngFor="let column of columns"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="isDateCell(column.name); else default">
          {{ row[column.name] | date }}
        </ng-container>
        <ng-template #default>{{ getCellValue(row,column.name)}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Изменить</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="editJump(row)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator [pageSize]="30"></mat-paginator>
