.user-info {
  width: 100%;
}

.submit {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mat-spinner {
  margin-left: 35px;
}

//TODO Do we need this
.error-msg {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 6px;
}
